body {
  font-family: 'Lato';
  font-size: 1.44rem;
  color: #333;
}

.h1 {
  font-size: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

input {
  border: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
}

.secondary {
  color: #03A9F4;
}

.link:hover {
  border-bottom: 2px solid;
}
